@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

body,
html {
  height: 100%;
  margin: 0;
  display: grid;
  background-image: linear-gradient(to bottom, #a18cd1 0%, #fbc2eb 100%);
}

.title {
  background-color: whitesmoke;
  font-family: "VT323";
  font-size: xxx-large;
  padding: auto;
  width: fit-content;
}

.container {
  padding-left: 6em;
  padding-right: 6em;
  margin-left: 33%;
  margin-right: 15%;
}

.statue {
  opacity: 0.9;
  width: 20%;
  height: auto;
  /* filter: hue-rotate(86deg); */
}

.meditation {
  font-family: "VT323";
  font-size: x-large;
}

.floor {
  height: 100%;
  position: inherit;
  top: 0px;
  left: 0;
  width: 100%;
  /* max-height: fit-content; */
  opacity: 0.1;
}
