@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

body,
html {
  height: 100%;
  margin: 0;
  display: grid;
  /* background-image: linear-gradient(to bottom, #a18cd1 0%, #fbc2eb 100%), */
  /* url("./assets/floor.png"); */
  background-image: linear-gradient(to bottom, #a18cd1 0%, #fbc2eb 100%);

  /* rgba(161, 140, 209, 0),
  rgba(251, 194, 235, 1) */

  /* flex-wrap: wrap; */
  /* display: flex;
  justify-content: center;
  flex-direction: row; */
}

.title {
  background-color: whitesmoke;
  font-family: "VT323";
  font-size: xxx-large;
  padding: auto;
  width: fit-content;
}

.container {
  padding-left: 6em;
  padding-right: 6em;
  margin-left: 33%;
  margin-right: 15%;
}

.statue {
  opacity: 0.9;
  width: 60%;
  height: auto;
}

.meditation {
  font-family: "VT323";
  font-size: x-large;
}

.floor {
  position: absolute;
  left: 0;
  top: 0;
  max-width: 100%;
  opacity: 0.2;
}
